# Imputation or handling missing data

In [174]:
# import
import pandas as pd
import numpy as np
#from sklearn.preprocessing import Imputer
from sklearn.impute import SimpleImputer

reading data file

In [175]:
df = pd.read_csv('./data/airquality.csv')

view Col Info

In [176]:
print('\nStructure')
print(df.info())

Structure
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ozone   116 non-null    float64
 1   Solar   146 non-null    float64
 2   Wind    143 non-null    float64
 3   Temp    143 non-null    float64
 4   PM25    143 non-null    float64
 5   PM10    143 non-null    float64
 6   Index   143 non-null    float64
 7   Month   153 non-null    int64
 8   Day     153 non-null    int64
dtypes: float64(7), int64(2)
memory usage: 10.9 KB
None

view summary

In [177]:
print('\nSummary')
print(df.describe())

Summary
            Ozone       Solar        Wind        Temp        PM25        PM10  \
count  116.000000  146.000000  143.000000  143.000000  143.000000  143.000000
mean    42.129310  185.931507    9.904895   77.811189  100.699301  100.293706
std     32.987885   90.058422    3.544572    9.581343   54.409899   28.305634
min      1.000000    7.000000    1.700000   56.000000    1.000000   51.000000
25%     18.000000  115.750000    7.400000   72.000000   55.000000   77.500000
50%     31.500000  205.000000    9.700000   79.000000  102.000000  103.000000
75%     63.250000  258.750000   11.500000   85.000000  144.500000  123.000000
max    168.000000  334.000000   20.700000   97.000000  200.000000  148.000000

            Index       Month         Day
count  143.000000  153.000000  153.000000
mean     5.069930    6.993464   15.803922
std      2.731275    1.416522    8.864520
min      1.000000    5.000000    1.000000
25%      3.000000    6.000000    8.000000
50%      5.000000    7.000000   16.000000
75%      8.000000    8.000000   23.000000
max      9.000000    9.000000   31.000000

view Data

In [178]:
print('\nHead')
print(df.head())

Head
   Ozone  Solar  Wind  Temp   PM25   PM10  Index  Month  Day
0   41.0  190.0   7.4  67.0  159.0  125.0    2.0      5    1
1   36.0  118.0   8.0  72.0   55.0   63.0    2.0      5    2
2   12.0  149.0  12.6  74.0   36.0  116.0    9.0      5    3
3   18.0  313.0  11.5  62.0  120.0  128.0    9.0      5    4
4    NaN    NaN  14.3  56.0  134.0  119.0    1.0      5    5

check zeros

In [179]:
print('\nColumns With Zero')
print((df==0).sum())

Columns With Zero
Ozone    0
Solar    0
Wind     0
Temp     0
PM25     0
PM10     0
Index    0
Month    0
Day      0
dtype: int64

check nulls

In [180]:
print('\nColumns With Nulls')
df.isnull().sum()

Columns With Nulls

Ozone    37
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

# Case 1: Imputation techniques for numeric data


* For numeric data we can use mean or median:

1. Arithmatic Mean
2. Group Mean: for numeric data which belongs to different groups, so we find the mean of each group and replace its missing values with respective group mean. For eg: If there is a column named hight and contains values for the hight of males and female, to handle missing values, first we need to group them i.e male and female, and then find the mean for each group and replace respectively. [we will see an example in Ozone and month]

3. Interpolation mean: mean of lower value and upper value of a missing value.

Option 1: Population Mean - Manual

In [181]:
print('\n*** Option 1: Population Mean - Manual ***')


print('Pre-Clean')
print('Nulls',df.Solar.isnull().sum())
vMean = int(df['Solar'].mean())
print('Mean',vMean)


#handling
df['Solar'] = np.where(df['Solar'].isnull(), vMean, df['Solar'])
#or
#df['Solar'] = df['Solar'].replace(np.nan, vMean)
df['Solar'] = df['Solar'].astype(int)


print('PostClean')
print('Nulls',df.Solar.isnull().sum())
vMean = int(df['Solar'].mean())
print('Mean',vMean)

*** Option 1: Population Mean - Manual ***
Pre-Clean
Nulls 7
Mean 185
PostClean
Nulls 0
Mean 185

Option 2:  Population Mean - FillNA-DF

In [182]:
print('\n*** Option 2: Population Mean - FillNA-DF ***')

*** Option 2: Population Mean - FillNA-DF ***

reading data file

In [183]:
df = pd.read_csv('./data/airquality.csv')

In [184]:
#check nulls
print('Pre-Clean')
print('Columns With Nulls')
print(df.isnull().sum())

Pre-Clean
Columns With Nulls
Ozone    37
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

In [185]:
#check mean
print('Col Means')
print(df.mean().astype(int))

Col Means
Ozone     42
Solar    185
Wind       9
Temp      77
PM25     100
PM10     100
Index      5
Month      6
Day       15
dtype: int32

In [186]:
#clean
df = df.fillna(df.mean().astype(int))

In [187]:
#check nulls
print('Post-Clean')
print('Columns With Nulls')
df.isnull().sum()

Post-Clean
Columns With Nulls

Ozone    0
Solar    0
Wind     0
Temp     0
PM25     0
PM10     0
Index    0
Month    0
Day      0
dtype: int64

In [188]:
print('Col Means')
print(df.mean().astype(int))

Col Means
Ozone     42
Solar    185
Wind       9
Temp      77
PM25     100
PM10     100
Index      5
Month      6
Day       15
dtype: int32

Option 3: Population Mean - FillNA-Col

In [189]:
print('\n*** Option 3: Population Mean - FillNA-Col ***')

*** Option 3: Population Mean - FillNA-Col ***

reading data file

In [190]:
df = pd.read_csv('./data/airquality.csv')

check nulls

In [191]:
print('Pre-Clean')
print('Columns With Nulls')
print(df['Solar'].isnull().sum())
print('Mean Solar')
vMean = int(df['Solar'].mean())
print(vMean)

Pre-Clean
Columns With Nulls
7
Mean Solar
185

cleen

In [192]:
df['Solar'] = df['Solar'].fillna(df['Solar'].mean())
df['Solar'] = df['Solar'].astype(int)

check nulls

In [193]:
print('Post-Clean')
print('Columns With Nulls')
print(df['Solar'].isnull().sum())
print('Mean Solar')
vMean = int(df['Solar'].mean())
print(vMean)

Post-Clean
Columns With Nulls
0
Mean Solar
185

Option 4: Population Mean - using sklean.SimpleImputer() library

In [194]:
print('\n*** Option 4: Population Mean - Imputer-Col ***')

*** Option 4: Population Mean - Imputer-Col ***

reading data file

In [195]:
df = pd.read_csv('./data/airquality.csv')

check

In [196]:
print('Pre-Clean')
print(df['Solar'].isnull().sum())
print('Mean Solar')
vMean = int(df['Solar'].mean())
print(vMean)

Pre-Clean
7
Mean Solar
185

impute

In [197]:
imp=SimpleImputer(missing_values=np.nan, strategy='mean')
#print(imp)
df['Solar']=imp.fit_transform(df[['Solar']])
df['Solar']=df['Solar'].astype(int)

recheck

In [198]:
print('PostClean')
print(df['Solar'].isnull().sum())
print('Mean Solar')
vMean = int(df['Solar'].mean())
print(vMean)

PostClean
0
Mean Solar
185

data imputation - group mean for Ozone

In [199]:
print('\n************************************************************')
print('Group Mean')
print('************************************************************')

************************************************************
Group Mean
************************************************************

Option 1: Group Mean - Manual

In [200]:
print('\n*** Option 1: Group Mean - Manual ***')

*** Option 1: Group Mean - Manual ***

reading data file

In [201]:
df = pd.read_csv('./data/airquality.csv')

check

In [202]:
print('Pre-Clean')
print(df.Ozone.isnull().sum())
# creates data frame
print('Group Mean')
gdf = df.groupby(['Month'])[['Ozone']].mean().astype(int)
print(gdf)
print(type(gdf))

Pre-Clean
37
Group Mean
       Ozone
Month
5         23
6         29
7         59
8         59
9         31
<class 'pandas.core.frame.DataFrame'>

In [203]:
for i in range(0,len(gdf)):
    print(i)    
    # get month
    vMonth = gdf.index[i]
    print(vMonth)
    #get mean
    vMeans = gdf['Ozone'][vMonth]
    print(vMeans)
    # update
    df['Ozone'] = np.where( ( (df['Ozone'].isnull() ) & (df['Month']==vMonth) ), 
                                            vMeans, df['Ozone'])
df['Ozone'] = df['Ozone'].astype(int)

0
5
23
1
6
29
2
7
59
3
8
59
4
9
31

recheck

In [204]:
print('PostClean')
print(df.Ozone.isnull().sum())
print('')
# mean
# creates data frame
print('Group Mean')
cdf = df.groupby(['Month'])[['Ozone']].mean().astype(int)
print(gdf)
print(cdf)

PostClean
0

Group Mean
       Ozone
Month
5         23
6         29
7         59
8         59
9         31
       Ozone
Month
5         23
6         29
7         59
8         59
9         31

Option 1: Group Mean - Lambda

In [205]:
print('\n*** Option 2: Group Mean - GroupBy Lambda ***')

*** Option 2: Group Mean - GroupBy Lambda ***

reading data file

In [206]:
df = pd.read_csv('./data/airquality.csv')

check

In [207]:
print('Pre-Clean')
print(df.Ozone.isnull().sum())
# creates data frame
print('Group Mean')
gdf = df.groupby(['Month'])[['Ozone']].mean().astype(int)
print(gdf)
print(type(gdf))

Pre-Clean
37
Group Mean
       Ozone
Month
5         23
6         29
7         59
8         59
9         31
<class 'pandas.core.frame.DataFrame'>

update

In [208]:
df['Ozone'] = df.groupby('Month')['Ozone'].apply(lambda x:x.fillna(x.mean()))
df['Ozone'] = df['Ozone'].astype(int)

recheck

In [209]:
print('PostClean')
print(df.Ozone.isnull().sum())
# mean
# creates data frame
print('Group Mean')
cdf = df.groupby(['Month'])[['Ozone']].mean().astype(int)
print(gdf)
print(cdf)

PostClean
0
Group Mean
       Ozone
Month
5         23
6         29
7         59
8         59
9         31
       Ozone
Month
5         23
6         29
7         59
8         59
9         31

data imputation - average for immediate up / down points - Temp

In [210]:
print('************************************************************')
print('Interpolated Mean')
print('************************************************************')

************************************************************
Interpolated Mean
************************************************************

Option 1: Interpolated Mean - Manual

In [211]:
print('\n*** Option 1: Interpolated Mean - Manual ***')

*** Option 1: Interpolated Mean - Manual ***

reading data file

In [213]:
df = pd.read_csv('./data/airquality.csv')

check

In [214]:
print('Pre-Clean')
print(df.Temp.isnull().sum())
print(int(df['Temp'].mean()))

Pre-Clean
10
77

handling temp

In [215]:
i = 0
for i in df.index:
    # check if row,temp = null
    if (pd.isnull(df.iloc[i,3])):
        # get previous row value of temp
        vLower = None
        if i > 0:
           vLower = df.iloc[i-1,3] 
        # get next row value of temp
        vUpper = None
        if i < len(df):
           vUpper = df.iloc[i+1,3] 
        vList = [vLower, vUpper]
        vMean = np.mean(vList).astype(int)
        df.iloc[i,3] = vMean
df['Temp'] = df['Temp'].astype(int)

recheck

In [216]:
print('PostClean')
print(df.Temp.isnull().sum())
print(int(df['Temp'].mean()))

PostClean
0
77

Option 2: Interpolated  Mean - Interpolate-Col

In [217]:
print('\n*** Option 2: Interpolated  Mean - Interpolate-Col  ***')

*** Option 2: Interpolated  Mean - Interpolate-Col  ***

reading data file

In [218]:
df = pd.read_csv('./data/airquality.csv')

check

In [219]:
print('Pre-Clean')
print(df.Temp.isnull().sum())

Pre-Clean
10

update

In [220]:
df['Temp'] = df['Temp'].interpolate(method ='linear', limit_direction ='forward') 
df['Temp'] = df['Temp'].astype(int)

recheck

In [221]:
print('PostClean')
print(df.Temp.isnull().sum())
print('')

PostClean
0

Option 3: Interpolated  Mean - Interpolate-DF

In [222]:
print('\n*** Option 3: Interpolated  Mean - Interpolate-DF  ***')

*** Option 3: Interpolated  Mean - Interpolate-DF  ***

reading data file

In [223]:
df = pd.read_csv('./data/airquality.csv')

check

In [224]:
print('Pre-Clean')
print(df.isnull().sum())

Pre-Clean
Ozone    37
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

update

In [225]:
df = df.interpolate(method ='linear', limit_direction ='forward') 
df = df.astype(int)

recheck

In [226]:
print('PostClean')
print(df.isnull().sum())
print('')

PostClean
Ozone    0
Solar    0
Wind     0
Temp     0
PM25     0
PM10     0
Index    0
Month    0
Day      0
dtype: int64

data imputation - populate NAs with dummy values -1

In [227]:
print('************************************************************')
print('Populate NAs With Dummy Values')
print('************************************************************')

************************************************************
Populate NAs With Dummy Values
************************************************************

Option 1: Populate All NAs In df With Dummy Value <-1>

In [228]:
print('\n*** Option 1:  Populate All NAs In df With Dummy Value <-1> ***')

*** Option 1:  Populate All NAs In df With Dummy Value <-1> ***

reading data file

In [229]:
df = pd.read_csv('./data/airquality.csv')

check NAs

In [230]:
print("\n*** Columns With Nulls")
print(df.isnull().sum())

*** Columns With Nulls
Ozone    37
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

fill NaN with -1

In [231]:
df = df.fillna(-1)

check NAs

In [232]:
print("\n*** Columns With Nulls")
print(df.isnull().sum())

*** Columns With Nulls
Ozone    0
Solar    0
Wind     0
Temp     0
PM25     0
PM10     0
Index    0
Month    0
Day      0
dtype: int64

Option 2: Populate All NAs In Specific Column With Dummy Value <-1>

In [233]:
print('\n*** Option 2: Populate All NAs In Specific Column With Dummy Value <-1> ***')

*** Option 2: Populate All NAs In Specific Column With Dummy Value <-1> ***

reading data file

In [234]:
df = pd.read_csv('./data/airquality.csv')

check NAs

In [235]:
print("\n*** Columns With Nulls")
print(df.isnull().sum())

*** Columns With Nulls
Ozone    37
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

drop NaN

In [236]:
df['Ozone'] = df['Ozone'].fillna(-1)

check NAs

In [237]:
print("\n*** Columns With Nulls")
print(df.isnull().sum())

*** Columns With Nulls
Ozone     0
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

data imputation - drop rows

In [238]:
print('************************************************************')
print('Drop Rows With NaNs')
print('************************************************************')

************************************************************
Drop Rows With NaNs
************************************************************

Option 1: Drop Rows Any Cols with NaNs

In [239]:
print('\n*** Option 1: Drop Rows Any Cols with NaNs  ***')

*** Option 1: Drop Rows Any Cols with NaNs  ***

reading data file

In [240]:
df = pd.read_csv('./data/airquality.csv')

check NAs

In [241]:
print("\n*** Row Count ***")
print(len(df.index)) 
print("\n*** Columns With Nulls ***")
print(df.isnull().sum())

*** Row Count ***
153

*** Columns With Nulls ***
Ozone    37
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

drop NaN

In [242]:
df = df.dropna()

check NAs

In [243]:
print("\n*** Row Count ***")
print(len(df.index)) 
print("\n*** Columns With Nulls ***")
print(df.isnull().sum())

*** Row Count ***
95

*** Columns With Nulls ***
Ozone    0
Solar    0
Wind     0
Temp     0
PM25     0
PM10     0
Index    0
Month    0
Day      0
dtype: int64

Option 1: Drop Rows With Specific Cols with NaNs

In [244]:
print('\n*** Option 2: Drop Rows With Specific Cols with NaNs  ***')

*** Option 2: Drop Rows With Specific Cols with NaNs  ***

reading data file

In [245]:
df = pd.read_csv('./data/airquality.csv')

check NAs

In [246]:
print("\n*** Row Count ***")
print(len(df.index)) 
print("\n*** Columns With Nulls ***")
print(df.isnull().sum())

*** Row Count ***
153

*** Columns With Nulls ***
Ozone    37
Solar     7
Wind     10
Temp     10
PM25     10
PM10     10
Index    10
Month     0
Day       0
dtype: int64

drop NaN

In [247]:
df = df.dropna(subset=['Ozone'])

check NAs

In [248]:
print("\n*** Row Count ***")
print(len(df.index)) 
print("\n*** Columns With Nulls ***")
print(df.isnull().sum())

*** Row Count ***
116

*** Columns With Nulls ***
Ozone    0
Solar    5
Wind     7
Temp     6
PM25     9
PM10     9
Index    9
Month    0
Day      0
dtype: int64

**Case 2:** Categorical data

In [249]:
data={ 
      "color1":["red",np.nan,"green","red","red","blue","red","blue","red","red"],
      "color2":["red",np.nan,"green","gree","green","green","green","blue","red","red"]
      }

colorsdf=pd.DataFrame(data)
colorsdf.head()

  color1 color2
0    red    red
1    NaN    NaN
2  green  green
3    red   gree
4    red  green

In [250]:
print(colorsdf.isnull().sum())

color1    1
color2    1
dtype: int64

In [251]:
print(colorsdf.groupby('color1')['color1'].count())

color1
blue     2
green    1
red      6
Name: color1, dtype: int64

In [252]:
colorsdf.mode()

  color1 color2
0    red  green

In [253]:
from sklearn.impute import SimpleImputer

impobj=SimpleImputer(strategy="most_frequent", missing_values=np.nan)
colorsdf=impobj.fit_transform(colorsdf)

In [254]:
colorsdf=pd.DataFrame(colorsdf)
colorsdf.head()

       0      1
0    red    red
1    red  green
2  green  green
3    red   gree
4    red  green

# Case 3: Time series missing data imputation

In [255]:
df=pd.DataFrame({"dates":pd.date_range(start='2020-10-10',periods=10,freq='D'), "values":range(10)})
df.iloc[2,0]=np.nan
df.iloc[5:7,0]=np.nan

print('\n',df.isnull().sum())
print('\n',df)

 dates     3
values    0
dtype: int64

        dates  values
0 2020-10-10       0
1 2020-10-11       1
2        NaT       2
3 2020-10-13       3
4 2020-10-14       4
5        NaT       5
6        NaT       6
7 2020-10-17       7
8 2020-10-18       8
9 2020-10-19       9

In [256]:
#handle
df=df.ffill()
df

       dates  values
0 2020-10-10       0
1 2020-10-11       1
2 2020-10-11       2
3 2020-10-13       3
4 2020-10-14       4
5 2020-10-14       5
6 2020-10-14       6
7 2020-10-17       7
8 2020-10-18       8
9 2020-10-19       9

In [257]:
df=pd.DataFrame({"dates":pd.date_range(start='2020-10-10',periods=10,freq='D'), "values":range(10)})

df.iloc[2,0]=np.nan
df.iloc[5:7,0]=np.nan

df.isnull().sum()
df

       dates  values
0 2020-10-10       0
1 2020-10-11       1
2        NaT       2
3 2020-10-13       3
4 2020-10-14       4
5        NaT       5
6        NaT       6
7 2020-10-17       7
8 2020-10-18       8
9 2020-10-19       9

In [258]:
#forward fill
df=df.bfill()
df

       dates  values
0 2020-10-10       0
1 2020-10-11       1
2 2020-10-13       2
3 2020-10-13       3
4 2020-10-14       4
5 2020-10-17       5
6 2020-10-17       6
7 2020-10-17       7
8 2020-10-18       8
9 2020-10-19       9

**End**