In [1]:
#imports
import pandas as pd
import numpy as np
import string as st

reading data file

In [2]:
df = pd.read_csv("./data/patient-data.csv")

view Col Info

In [3]:
print("\n*** Info ***")
print(df.info())

*** Info ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           100 non-null    object
 1   Name         100 non-null    object
 2   Race         100 non-null    object
 3   Gender       100 non-null    object
 4   Smokes       100 non-null    object
 5   HeightInCms  100 non-null    float64
 6   WeightInKgs  100 non-null    float64
 7   BirthDate    100 non-null    object
 8   State        100 non-null    object
 9   Pet          96 non-null     object
 10  Health       100 non-null    int64
 11  Class        100 non-null    object
 12  Died         100 non-null    bool
 13  RecDate      100 non-null    object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 10.4+ KB
None

rename Class to InsStatus

In [4]:
df=df.rename(columns = {'Class':'InsStatus'})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           100 non-null    object
 1   Name         100 non-null    object
 2   Race         100 non-null    object
 3   Gender       100 non-null    object
 4   Smokes       100 non-null    object
 5   HeightInCms  100 non-null    float64
 6   WeightInKgs  100 non-null    float64
 7   BirthDate    100 non-null    object
 8   State        100 non-null    object
 9   Pet          96 non-null     object
 10  Health       100 non-null    int64
 11  InsStatus    100 non-null    object
 12  Died         100 non-null    bool
 13  RecDate      100 non-null    object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 10.4+ KB
None

view Col Info

In [5]:
print("\n*** Summary ***")
print(df.describe())

*** Summary ***
       HeightInCms  WeightInKgs      Health
count   100.000000    100.00000  100.000000
mean    167.926700     74.89370    8.840000
std       8.039584      8.55987   24.872897
min     157.010000     63.54000    1.000000
25%     161.522500     68.16750    1.000000
50%     165.710000     72.26500    2.000000
75%     174.490000     80.55500    3.000000
max     185.430000     97.67000   99.000000

view Data

In [6]:
print("\n*** Head ***")
print(df.head())

*** Head ***
  ID        Name   Race  Gender Smokes  HeightInCms  WeightInKgs   BirthDate  \
0     Demetr,ius  White    Male  FALSE       182.87        76.57  31-01-1972
1        Rosario  White    Male  FALSE       179.12        80.43  09-06-1972
2          Julio  Black    Male  FALSE       169.15        75.48  03-07-1972
3           Lupe  White    Male  FALSE       175.66        94.54  11-08-1972
4         Lavern  White  Female  FALSE       164.47        71.78  06-06-1973

          State Pet  Health InsStatus   Died     RecDate
0   Georgia,xxx           2         B  False  25-11-2015
1      Missouri           2         A  False  25-11-2015
2  Pennsylvania           2         A  False  25-11-2015
3       Florida           1         B  False  25-11-2015
4          Iowa           2         B   True  25-11-2015

################<br>
checking<br>
################

check nulls

In [7]:
print('\n*** Columns With Nulls ***')
df.isnull().sum()

*** Columns With Nulls ***

ID             0
Name           0
Race           0
Gender         0
Smokes         0
HeightInCms    0
WeightInKgs    0
BirthDate      0
State          0
Pet            4
Health         0
InsStatus      0
Died           0
RecDate        0
dtype: int64

check zeros

In [8]:
print('\n*** Columns With Zero ***')
print((df==0).sum())

*** Columns With Zero ***
ID              0
Name            0
Race            0
Gender          0
Smokes          0
HeightInCms     0
WeightInKgs     0
BirthDate       0
State           0
Pet             0
Health          0
InsStatus       0
Died           46
RecDate         0
dtype: int64

check ID

In [9]:
print("*** ID ***")
print("Null Values")
print(df['ID'].isnull().sum())
print("")

*** ID ***
Null Values
0

ounts spaces of a col

In [10]:
def spaceCountcol(col):
    return (col.str.strip().values=='').sum()
print(spaceCountcol(df['ID']))

10

ounts spaces of each col in a dataframe

In [11]:
def spaceCountdf(dfm):
    cols=dfm.columns
    valseries=pd.Series()
    for colm in cols:
        if(dfm[colm].dtype=="object"):
            valseries[colm]=spaceCountcol(dfm[colm])
    return valseries
print(spaceCountdf(df))

ID           10
Name          0
Race          0
Gender        0
Smokes        0
BirthDate     0
State         0
Pet           5
InsStatus     0
RecDate       0
dtype: int64

<ipython-input-11-ddc2007f5fff>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valseries=pd.Series()

check Name

In [12]:
print("*** Name ***")
print("Null Values")
print(df['Name'].isnull().sum())
print("Only Alpha Values", df.Name.map(lambda v: v.isalpha()).sum())
print("")
#out of 100 83 is valid

*** Name ***
Null Values
0
Only Alpha Values 83

check Race

In [13]:
print("*** Race ***")
print(df.groupby(['Race'])['Name'].count())
print("")
#dog has to be removed

*** Race ***
Race
Asian         5
Bi-Racial     1
Black         8
Dog           1
Hispanic     17
White        68
Name: Name, dtype: int64

check Gender

In [14]:
print("*** Gender ***")
print(df.groupby(['Gender'])['Name'].count())
print("")
#spaces

*** Gender ***
Gender
 Female     6
 Male       3
Female     45
Female      4
Male       40
Male        2
Name: Name, dtype: int64

check Smokes

In [15]:
print("*** Smokes ***")
print(df.groupby(['Smokes'])['Name'].count())
print("Data Type")
print(df.Smokes.dtype.name)
print("")

*** Smokes ***
Smokes
FALSE    72
No        6
TRUE     18
Yes       4
Name: Name, dtype: int64
Data Type
object

check HeightInCms

In [16]:
print("*** HeightInCms ***")
print("Null Values ")
print(df.HeightInCms.isnull().sum())
print("HeightInCms Is < 160")
print(df.HeightInCms[df.HeightInCms<160].count())
print("HeightInCms Is > 180")
print(df.HeightInCms[df.HeightInCms>=180].count())
print("")

*** HeightInCms ***
Null Values
0
HeightInCms Is < 160
16
HeightInCms Is > 180
13

check Height

In [17]:
print("*** WeightInKgs ***")
print("Null Values ")
print(df.WeightInKgs.isnull().sum())
print("WeightInKgs Is < 65")
print(df.WeightInKgs[df.WeightInKgs<65].count())
print("WeightInKgs Is > 85")
print(df.WeightInKgs[df.WeightInKgs>=85].count())
print("")

*** WeightInKgs ***
Null Values
0
WeightInKgs Is < 65
5
WeightInKgs Is > 85
13

check BirthDate

In [19]:
print("*** BirthDate ***")
print(type(df.BirthDate[0]))
print("")

*** BirthDate ***
<class 'str'>

check State

In [20]:
print("*** State ***")
print(df.groupby(['State'])['Name'].count())
print("")

*** State ***
State
Alabama            2
Arizona            2
California        13
Colorado           1
Connecticut        1
Florida            8
Georgia            3
Georgia,xxx        1
Hawaii             2
Illinois           2
Illlinois          2
Indiana            4
Iowa               2
Kansas             1
Kentucky           2
Louisiana          5
Maryland           3
Massachusetts      1
Michigan           6
Micigan            1
Mississippi        1
Missouri           2
Nevada             1
New Jersey         2
New York           3
North Carolina     4
Ohio               4
Oregon             2
Pennsylvania       5
South Carolina     1
Tennessee          1
Texas              3
Vermont            1
Virginia           3
Washington         4
Wisconsin          1
Name: Name, dtype: int64

check Pet

In [21]:
print("*** Pet ***")
print(df.groupby(['Pet'])['Name'].count())
print("")

*** Pet ***
Pet
          5
Bird      9
CAT       5
Cat      23
DOG       4
Dog      26
Horse     1
NONE      1
None     22
Name: Name, dtype: int64

check health

In [22]:
print("*** Health ***")
print(df.groupby(['Health'])['Name'].count())
print("")

*** Health ***
Health
1     29
2     30
3     34
99     7
Name: Name, dtype: int64

check InsStatus

In [23]:
print("*** InsStatus ***")
print(df.groupby(['InsStatus'])['Name'].count())
print("")

*** InsStatus ***
InsStatus
A    37
B    35
C    28
Name: Name, dtype: int64

check Died

In [24]:
print("*** Died ***")
print(df.groupby(['Died'])['Name'].count())
print("")

*** Died ***
Died
False    46
True     54
Name: Name, dtype: int64

check dates

In [25]:
print("*** RecDate ***")
print(type(df.RecDate[0]))
print("")

*** RecDate ***
<class 'str'>

################<br>
cleaning<br>
################

In [27]:
# get cleanName - Function
def getCleanName(pName):
    # print arg
    #print(pName)
    # clean
    vRetVals = pName.translate(str.maketrans(" ", " ", st.punctuation))
    vRetVals = vRetVals.strip()
    return(vRetVals)

get cleanName - Unit Test

In [28]:
def getCleanNameTest():
    x = getCleanName("This, is. a; test: string? check!")
    print(x)
getCleanNameTest()

This is a test string check

clean ID

In [29]:
print("*** ID ***")
print("Null Values")
print(df['ID'].isnull().sum())
print("")

*** ID ***
Null Values
0

clean Name

In [30]:
print("*** Name ***")
print("*Original Count*")
print("Not Null Values")
print(df.Name.notnull().sum())
print("Only Alpha Values")
print(df.Name.map(lambda v: v.isalpha()).sum())

*** Name ***
*Original Count*
Not Null Values
100
Only Alpha Values
83

In [31]:
df['Name'] = df['Name'].map(lambda nm :getCleanName(nm))
#or
df['Name'] = [getCleanName(n) for n in df.Name]
print("")
print("*Cleaned Count*")
print("Not Null Values")
print(df.Name.notnull().sum())
print("Only Alpha Values")
print(df.Name.map(lambda v: v.isalpha()).sum())

*Cleaned Count*
Not Null Values
100
Only Alpha Values
100

clean Race

In [32]:
print("*** Race ***")
print("*Original Count*")
print("Not Null Values")
print(df.Race.notnull().sum())
print(df.groupby(['Race'])['Name'].count())
df['Race'] = np.where(df['Race']=='Dog',None, df['Race'])
df['Race'] = df['Race'].str.title()
print("")
print("*Cleaned Count*")
print("Not Null Values")
print(df.Race.notnull().sum())
print(df.groupby(['Race'])['Name'].count())

*** Race ***
*Original Count*
Not Null Values
100
Race
Asian         5
Bi-Racial     1
Black         8
Dog           1
Hispanic     17
White        68
Name: Name, dtype: int64

*Cleaned Count*
Not Null Values
99
Race
Asian         5
Bi-Racial     1
Black         8
Hispanic     17
White        68
Name: Name, dtype: int64

clean Gender

In [33]:
print("*** Gender ***")
print("*Original Count*")
print("Not Null Values")
print(df.Gender.notnull().sum())
print(df.groupby(['Gender'])['Name'].count())
print("")
df['Gender'] = df['Gender'].str.strip()
df['Gender'] = df['Gender'].str.title()
print("*Cleaned Count*")
print("Not Null Values")
print(df.Gender.notnull().sum())
print(df.groupby(['Gender'])['Name'].count())

*** Gender ***
*Original Count*
Not Null Values
100
Gender
 Female     6
 Male       3
Female     45
Female      4
Male       40
Male        2
Name: Name, dtype: int64

*Cleaned Count*
Not Null Values
100
Gender
Female    55
Male      45
Name: Name, dtype: int64

cleaning Smokes

In [34]:
print("*** Smokes ***")
print("*Original Count*")
print("Not Null Values")
print(df.Smokes.notnull().sum())
print(df.groupby(['Smokes'])['Name'].count())
print(df['Smokes'].dtypes)
print("")
df['Smokes'] = np.where(df['Smokes'] == 'No', False, df['Smokes'])
df['Smokes'] = np.where(df['Smokes'] == 'Yes', True, df['Smokes'])
df['Smokes'] = np.where(df['Smokes'] == 'FALSE', False, df['Smokes'])
df['Smokes'] = np.where(df['Smokes'] == 'TRUE', True, df['Smokes'])
print(df['Smokes'].dtypes)
df['Smokes'] = df['Smokes'].astype(bool)
print(df['Smokes'].dtypes)
print("*Cleaned Count*")
print("Not Null Values")
print(df.Smokes.notnull().sum())
print(df.groupby(['Smokes'])['Name'].count())
print("Data Type: ")
print(df['Smokes'].dtypes)

*** Smokes ***
*Original Count*
Not Null Values
100
Smokes
FALSE    72
No        6
TRUE     18
Yes       4
Name: Name, dtype: int64
object

object
bool
*Cleaned Count*
Not Null Values
100
Smokes
False    78
True     22
Name: Name, dtype: int64
Data Type:
bool

check HeightInCms

In [35]:
print("*** HeightInCms ***")
print("*Original Count*")
print("Null Values")
print(df.HeightInCms.isnull().sum())
#print("Outlier Count")
#print(utils.colOutCount(df.HeightInCms))
#print("Outlier Value")
#print(utils.colOutValues(df.HeightInCms))
print("HeightInCms Is < 160")
print(df.HeightInCms[df.HeightInCms<160].count())
print("HeightInCms Is > 180")
print(df.HeightInCms[df.HeightInCms>180].count())
print("")
# clean
df['HeightInCms'] = np.where(df['HeightInCms'] < 160, 160, df['HeightInCms'])
df['HeightInCms'] = np.where(df['HeightInCms'] > 180, 180, df['HeightInCms'])
# cleaned
print("*Cleaned Count*")
print("Null Values")
print(df.HeightInCms.isnull().sum())
#print("Outlier Count")
#print(utils.colOutCount(df.HeightInCms))
#print("Outlier Value")
#print(utils.colOutValues(df.HeightInCms))
print("HeightInCms Is < 160")
print(df.HeightInCms[df.HeightInCms<160].count())
print("HeightInCms Is >= 180")
print(df.HeightInCms[df.HeightInCms>180].count())
print("")

*** HeightInCms ***
*Original Count*
Null Values
0
HeightInCms Is < 160
16
HeightInCms Is > 180
13

*Cleaned Count*
Null Values
0
HeightInCms Is < 160
0
HeightInCms Is >= 180
0

check WeightInKgs

In [37]:
print("*** WeightInKgs ***")
print("*Original Count*")
print("Null Values")
print(df.WeightInKgs.isnull().sum())
print("WeightInKgs Is < 65")
print(df.WeightInKgs[df.WeightInKgs<65].count())
print("WeightInKgs Is > 85")
print(df.WeightInKgs[df.WeightInKgs>85].count())
print("")
# clean
df['WeightInKgs'] = np.where(df['WeightInKgs'] < 65, 65, df['WeightInKgs'])
df['WeightInKgs'] = np.where(df['WeightInKgs'] > 85, 85, df['WeightInKgs'])
# cleaned
print("*Cleaned Count*")
print("Null Values")
print(df.WeightInKgs.isnull().sum())
print("WeightInKgs Is < 65")
print(df.WeightInKgs[df.WeightInKgs<65].count())
print("WeightInKgs Is > 85")
print(df.WeightInKgs[df.WeightInKgs>85].count())
print("")

*** WeightInKgs ***
*Original Count*
Null Values
0
WeightInKgs Is < 65
0
WeightInKgs Is > 85
0

*Cleaned Count*
Null Values
0
WeightInKgs Is < 65
0
WeightInKgs Is > 85
0

In [57]:
#converting str to date
df['BirthDate']=pd.to_datetime(df['BirthDate'])
type(df['BirthDate'][0])

pandas._libs.tslibs.timestamps.Timestamp

clean State

In [38]:
print("*** State ***")
print("*Original Count*")
print("Not Null Values")
print(df.State.notnull().sum())
print(df.groupby(['State'])['Name'].count())
print("")
df['State'] = np.where(df['State'] == 'Georgia,xxx', 'Georgia', df['State'])
df['State'] = np.where(df['State'] == 'Illlinois', 'Illinois', df['State'])
df['State'] = np.where(df['State'] == 'Micigan', 'Michigan', df['State'])
df['State'] = np.where(df['State'] == 'WrongSpelling', 'RightSpelling', df['State'])
df['State'] = df['State'].str.title()
print("*Cleaned Count*")
print("Not Null Values")
print(df.State.notnull().sum())
print(df.groupby(['State'])['Name'].count())

*** State ***
*Original Count*
Not Null Values
100
State
Alabama            2
Arizona            2
California        13
Colorado           1
Connecticut        1
Florida            8
Georgia            3
Georgia,xxx        1
Hawaii             2
Illinois           2
Illlinois          2
Indiana            4
Iowa               2
Kansas             1
Kentucky           2
Louisiana          5
Maryland           3
Massachusetts      1
Michigan           6
Micigan            1
Mississippi        1
Missouri           2
Nevada             1
New Jersey         2
New York           3
North Carolina     4
Ohio               4
Oregon             2
Pennsylvania       5
South Carolina     1
Tennessee          1
Texas              3
Vermont            1
Virginia           3
Washington         4
Wisconsin          1
Name: Name, dtype: int64

*Cleaned Count*
Not Null Values
100
State
Alabama            2
Arizona            2
California        13
Colorado           1
Connecticut        1
Florida            8
Georgia            4
Hawaii             2
Illinois           4
Indiana            4
Iowa               2
Kansas             1
Kentucky           2
Louisiana          5
Maryland           3
Massachusetts      1
Michigan           7
Mississippi        1
Missouri           2
Nevada             1
New Jersey         2
New York           3
North Carolina     4
Ohio               4
Oregon             2
Pennsylvania       5
South Carolina     1
Tennessee          1
Texas              3
Vermont            1
Virginia           3
Washington         4
Wisconsin          1
Name: Name, dtype: int64

clean Pet

In [39]:
print("*** Pet ***")
print("*Original Count*")
print("Not Null Values")
print(df.Pet.notnull().sum())
print(df.groupby(['Pet'])['Name'].count())
print("")
df['Pet'] = df['Pet'].str.title()
print("*Cleaned Count*")
print("Not Null Values")
print(df.Pet.notnull().sum())
print(df.groupby(['Pet'])['Name'].count())

*** Pet ***
*Original Count*
Not Null Values
96
Pet
          5
Bird      9
CAT       5
Cat      23
DOG       4
Dog      26
Horse     1
NONE      1
None     22
Name: Name, dtype: int64

*Cleaned Count*
Not Null Values
96
Pet
          5
Bird      9
Cat      28
Dog      30
Horse     1
None     23
Name: Name, dtype: int64

clean health

In [40]:
print("*** Health ***")
print("*Original Count*")
print(df.Health.notnull().sum())
print(df.groupby(['Health'])['Name'].count())
print("Data Type")
print(df['Health'].dtypes)
df['Health'] = df['Health'].map(
    {1: "Good Health", 2: "Normal", 3:"Poor Health", 99:"Unknown"})
df['Health'] = np.where(df['Health'] == 'Unknown', None, df['Health'])
print("*Cleaned Count*")
print("Not Null Values")
print(df.Health.notnull().sum())
print(df.groupby(['Health'])['Name'].count())
print("")

*** Health ***
*Original Count*
100
Health
1     29
2     30
3     34
99     7
Name: Name, dtype: int64
Data Type
int64
*Cleaned Count*
Not Null Values
93
Health
Good Health    29
Normal         30
Poor Health    34
Name: Name, dtype: int64

clean InsStatus

In [41]:
print("*** InsStatus ***")
print("*Original Count*")
print("Not Null Values")
print(df.InsStatus.notnull().sum())
print(df.groupby(['InsStatus'])['Name'].count())
print("")
# use map
df['InsStatus'] = df['InsStatus'].map({"A": 1, "B": 2, "C": 3})
print("Data Type: ")
print(df['InsStatus'].dtypes)
#df['InsStatus'] = df['InsStatus'].astype(int)
print("*Cleaned Count*")
print("Not Null Values")
print(df.InsStatus.notnull().sum())
print(df.groupby(['InsStatus'])['Name'].count())
print("")

*** InsStatus ***
*Original Count*
Not Null Values
100
InsStatus
A    37
B    35
C    28
Name: Name, dtype: int64

Data Type:
int64
*Cleaned Count*
Not Null Values
100
InsStatus
1    37
2    35
3    28
Name: Name, dtype: int64

In [66]:
df['RecDate']=pd.to_datetime(df['RecDate'])
type(df['RecDate'][2])

pandas._libs.tslibs.timestamps.Timestamp

compute BMIValue

In [67]:
print("*** BMIValue ***")
#df = df.assign(BMIValue=df['WeightInKgs']/(df['HeightInCms']/100)**2)
df['BMIValue'] = df['WeightInKgs'] / ( (df['HeightInCms']/100)**2 )
print("*Cleaned Count*")
print("Not Null Values")
print(df.BMIValue.notnull().sum())
print(df['BMIValue'].head())
print("")

*** BMIValue ***
*Cleaned Count*
Not Null Values
100
0    23.632716
1    25.068590
2    26.380795
3    27.546928
4    26.535671
Name: BMIValue, dtype: float64

compute BMILabel

In [69]:
print("*** BMILabel ***")
df['BMILabel'] = ""
df['BMILabel'] = np.where(df['BMIValue']  < 18.5 , 'Underweight', 
                    np.where((df['BMIValue'] < 25 ) , 'Normal', 
                    np.where((df['BMIValue'] < 30) , 'Overweight', 
                    "Obese")))
print("*Cleaned Count*")
print("Not Null Values")
print(df.BMILabel.notnull().sum())
print(df.groupby(['BMILabel'])['Name'].count())
print(df['BMILabel'].head())
print("")

*** BMILabel ***
*Cleaned Count*
Not Null Values
100
BMILabel
Normal        20
Obese          1
Overweight    79
Name: Name, dtype: int64
0        Normal
1    Overweight
2    Overweight
3    Overweight
4    Overweight
Name: BMILabel, dtype: object

write cleaned data into file

In [70]:
df.to_csv("./data/patient-data-cleaned.csv", index=False)

***End***